{% extends 'layouts/default.njk' %}
{% block body %}
  {% include 'partials/header.njk' %}

    <section id="main">
      <div class="container">
        <header>
        {% for user in users %}
          <h2>Meus projetos ({{ user.Projects.length }})</h2>
        {% endfor %}
          <div class="addon">
            <form action="/app/dashboard/create" method="post">
              <input type="text" name="title" placeholder="Novo projeto">
              <button type="submit" class="btn">
                <img src="/img/plus.svg">
              </button>
            </form>
          </div>
        </header>

        <section id="content">
          <div class="project-list">
            {% for user in users %}
              {% for userProjects in user.Projects %}
                <a href="/app/project/{{ userProjects.id }}">{{userProjects.title}}</a>
              {% endfor %}
          {% endfor %}

          </div>
        </section>
      </div>
    </section>
  </div>
{% endblock %}
